<section class="register-container">
  <h2>Register</h2>
  <form
    [formGroup]="registerForm"
    class="register-form"
    (ngSubmit)="register()"
  >
    <p [ngClass]="{ 'has-error': isSubmitted && formControls['email'].errors }">
      <input
        class="register-form-field"
        type="email"
        placeholder="e-mail"
        formControlName="email"
      />
    </p>

    <div *ngIf="isSubmitted && formControls['email'].errors" class="help-block">
      <div *ngIf="formControls['email'].errors['required']">
        <font color="red">e-mail is required</font>
      </div>
    </div>

    <p
      [ngClass]="{
        'has-error': isSubmitted && formControls['password'].errors
      }"
    >
      <input
        class="register-form-field"
        type="password"
        placeholder="password"
        formControlName="password"
      />
    </p>

    <div
      *ngIf="isSubmitted && formControls['password'].errors"
      class="help-block"
    >
      <div *ngIf="formControls['password'].errors['required']">
        <font color="red">password is required</font>
      </div>
    </div>

    <p
      [ngClass]="{
        'has-error': isSubmitted && formControls['passwordConfirm'].errors
      }"
    >
      <input
        class="register-form-field"
        type="password"
        placeholder="password (confirmation)"
        formControlName="passwordConfirm"
      />
    </p>

    <div
      *ngIf="isSubmitted && formControls['passwordConfirm'].errors"
      class="help-block"
    >
      <div *ngIf="formControls['passwordConfirm'].errors['required']">
        <font color="red">password confirmation is required</font>
      </div>
    </div>

    <p>
      <input type="submit" value="submit" id="submit-btn" />
    </p>
  </form>
  <p>
    Already have an account? <a href="/login"><br />Click here to login</a>
  </p>
</section>
